{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Se Connecter</title>
{% endblock %}


{% block body %}

    <section class="login">
        <div class="container">
            <div class="login-header">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <form action="{{ path('login_check') }}" method="post">
                <h3>Username:</h3>
                <input type="text" placeholder="Username" id="username" name="_username" required/><br>
                <h3>Password:</h3>
                <input type="password" placeholder="Password" id="password" name="_password" required/>
                <br>
                <input type="submit" value="Login" class="login-button" />
                </form>
            </div>
        </div>
    </section>





            Login ou mot de passe oublié ? <br/><a href="{{ path('sercom_lost_pwd') }}"> Cliquez ici</a>



{% endblock %}
