{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Se Connecter</title>
{% endblock %}


{% block body %}
    <br/>
    <br/>
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <div class="container">
        <div class="col-lg-3 col-lg-offset-4">
            <form action="{{ path('login_check') }}" method="post">
                <h3><i class="fa fa-key"></i> Informations <br/>de connexion : </h3>
                <label for="username" class="sr-only">Login :</label>
                <input type="text" id="username" class="form-control" name="_username" placeholder="login" required />
                <label for="password" class="sr-only">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="mot de passe" required/>
                <br />

                <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign In </button>
            </form>
            <br/>
            <br/>
            Login ou mot de passe oublié ? <br/><a href="{{ path('sercom_lost_pwd') }}"> Cliquez ici</a>
        </div>
    </div>


{% endblock %}
