{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Mot de passe oublié</title>
{% endblock %}


{% block body %}

   Vous allez recevoir un lien par email afin de reinitialiser votre mot de passe.

{% endblock %}
