{% extends 'SERCOMAppBundle:Home:base.html.twig' %}
{% block titre %}
    <title>Mot de passe oublié</title>
{% endblock %}


{% block body %}

    <section class="motPresident">
        <div class="container">

            <article>
                <h2> Vous allez recevoir un lien par email afin de reinitialiser votre mot de passe.</h2>

            </article>
        </div>
    </section>


{% endblock %}
