{% extends '@SERCOMApp/Home/base.html.twig' %}

{% block titre %}
    <title> Partenaires </title>
{% endblock %}

{% block body %}
    <section class="motPresident">
        <div class="container">
            <h1><span>Partenaires</span></h1>
            <article>

                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla, vero itaque placeat illum omnis.</h2>
                <div class="content">
                    <p>
                        <a href="https://www.herta.be/fr/produits/snacks/choucroute/choucroute-nature/">Les choucroutes Herta</a>
                    </p>
                    <p>
                        <a href="http://www.pokemon.com/fr/">Les pokemons</a>
                    </p>

                </div>
            </article>
        </div>
    </section>
{% endblock %}