{% extends '@SERCOMApp/Home/base.html.twig' %}

{% block titre %}
    <title>Gestion des cookies</title>
{% endblock %}

{% block body %}
    <section class="motPresident">
        <div class="container">
            <h1><span>Gestion des cookies</span></h1>
            <article>

                <div class="illu"></div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla, vero itaque placeat illum omnis.</h2>
                <div class="content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at quam felis. Pellentesque euismod magna ut lectus semper eleifend. Etiam fermentum dui a dui euismod,
                        et cursus erat vulputate. Vestibulum efficitur nibh at velit mollis tincidunt. Aliquam ut purus commodo, interdum lacus eget, dignissim felis. Vivamus a magna felis.
                        Mauris euismod vehicula felis sed finibus. Fusce aliquet feugiat est, sit amet dictum purus.
                    </p><p>
                        Nam vitae tristique quam. Integer at lectus eget nulla mattis rutrum. Vestibulum lobortis felis ac dapibus tempor. Donec finibus magna
                        in ex ornare pellentesque. Mauris commodo euismod tempus. Sed elementum faucibus sapien quis consectetur. Etiam mattis venenatis metus sed tempus.
                    </p><p>
                        Cras a suscipit arcu, eu blandit erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc ut erat in
                        mauris euismod feugiat. In ultricies consectetur elit, eu placerat augue molestie ut. Vestibulum fermentum tempor tortor ac interdum. Pellentesque
                        nulla leo, tincidunt eu feugiat ut, congue et mauris. Nullam orci lectus, egestas in felis sed, tincidunt eleifend ex. Morbi convallis enim porttitor,
                        feugiat libero sit amet, ornare sapien. Cras id volutpat lacus. Sed varius enim vel elit hendrerit interdum.
                    </p><p>
                        Nulla facilisi. Sed sed magna nibh. Ut vitae felis nec est mattis malesuada efficitur nec metus. Nullam efficitur a tellus ut semper. Vestibulum
                        quam erat, pellentesque vel justo ac, pellentesque lacinia massa. Praesent nec faucibus justo. Proin scelerisque condimentum eleifend.
                    </p><p>
                        In congue urna ac sem venenatis, at dapibus urna gravida. Vivamus in interdum sem. Mauris at dolor risus. Sed vulputate, mauris nec venenatis
                        fermentum, erat dolor congue nibh, non blandit tortor lorem et tortor. Phasellus convallis, mauris tempor molestie blandit, tortor purus tincidunt
                        quam, id ornare nunc ex non dui. Fusce sed facilisis ex. Phasellus tincidunt elementum tempor. Quisque tristique lacus purus, non faucibus sem
                        rhoncus vel. Nunc turpis arcu, cursus at luctus non, hendrerit ut sem. Duis lectus dolor, imperdiet sed ultrices ut, ornare at eros.
                    </p>

                </div>
            </article>
        </div>
    </section>

{% endblock %}