<html>
<body>
<p>Bonjour {{ person.firstname }} {{ person.lastname }}</p>

<p>Afin de valider votre adresse mail, veuillez cliquer sur le

<a href="{{ url('sercom_register_validemail', {'login': person.username, 'code': person.activationcode })|raw }}">lien </a>  </p>


<p>Veuillez ne pas répondre à cet email.</p>

<p>Merci</p>




</body>
</html>





