{% extends '@SERCOMApp/Home/base.html.twig' %}
{% block style %}
    <style>
        #map-canvas {
            width: 250px;
            height: 250px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

{% endblock %}

{% block body %}

    <h1> Contact </h1>

    adresse, ....
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1270.2873169847473!2d3.890259199999989!3d50.44902330000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2509d5dfb58d5%3A0x5e833853f3d4c1e3!2sRue+Leman+34%2C+7012+Mons!5e0!3m2!1sfr!2sbe!4v1431524846442" width="400" height="300" frameborder="0" style="border:0"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sbe!4v1431524688091!6m8!1m7!1sf2lQ-npegZYJ2kvzJ1RpoA!2m2!1d50.449116!2d3.890227!3f177.4740774821151!4f-13.201976848255455!5f0.7820865974627469" width="400" height="300" frameborder="0" style="border:0"></iframe>


    <div id="map-canvas"></div>


{% endblock %}

{% block script %}
    <script>




        function initialize() {
            var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
                center: new google.maps.LatLng(50.4503722802915,  3.891608180291502),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}