{% extends 'SERCOMAppBundle:Home:base.html.twig' %}

{% block titre %}
    <title>Mot de passe changé </title>
{% endblock %}

{% block body %}
    <section class="motPresident">
        <div class="container">
            <h1><span>Mot de passe changé</span></h1>
            <article>

               <p> Votre mot de passe a été changé</p>


            </article>
        </div>
    </section>
{% endblock %}

