{% extends 'SERCOMAppBundle:Home:base.html.twig' %}

{% block titre %}
    <title>Mot de passe changé </title>
{% endblock %}

{% block body %}
    Votre mot de passe a été changé.
{% endblock %}

{% block link %}
    <a href="{{ path('sercom_home') }}">Retour à l'accueil</a>
{% endblock %}
