<span style="text-align: center;">
<hr/>

<p>Contact : <a href="mailto:mf.sercom@gmail.com"> mf.sercom@gmail.com</a> &nbsp;&nbsp;

<i class="fa fa-facebook-official"></i> Join us on <a href="https://www.facebook.com/pages/Fran%C3%A7ois-pignon/33523847031?fref=ts">Facebook</a> !
 &nbsp; &nbsp; <i class="fa fa-copyright"></i> 2015 Philippe Jankowski
    &nbsp; &nbsp; design: <i class="fa fa-copyright"></i> 2015 Guillaume Danzin</p>

</span>