{% extends 'SERCOMAppBundle:Home:base.html.twig' %}

{% block titre %}
    <title> Confirmation email effectuée </title>
{% endblock %}

{% block body %}
    <section class="motPresident">
        <div class="container">
            <h1><span>Adresse mail confirmée</span></h1>
            <article>


                <div class="content">
                    <p> Veuillez choisir un type d'accès</p>

                    <form action="{{ path('sercom_register_access') }}" method="post">
                        <fieldset>
                            <div> <label>Acces membre : </label><input type="checkbox" name="member" value="member"/></div>
                           <div><label>Access Professeur :</label><input type="checkbox" name="teacher" value="teacher"/></div>
                            <div><label>Access Etudiant :</label><input type="checkbox" name="student" value="student"/></div>
                            <div> <input type="submit" value="Envoyer"/></div>

                        </fieldset>

                    </form>

                </div>
            </article>
        </div>
    </section>





{% endblock %}


