{% extends 'SERCOMAppBundle:Home:base.html.twig' %}

{% block titre %}
    <title> Confirmation email effectuée </title>
{% endblock %}

{% block body %}
    <section class="motPresident">
        <div class="container">
            <h1><span>Enregistrement terminé</span></h1>
            <article>


                <div class="content">
                    <p>
                        Vos choix ont bien été pris en compte. L'administrateur activera votre compte.
                    </p>

                </div>
            </article>
        </div>
    </section>

{% endblock %}


